# /.phpunit.cache
# /public/build
# /public/hot
# /storage/*.key
# /storage/pail
# .env.backup
# .env.production
# .env.testing
# .phpactor.json
# .phpunit.result.cache
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
# /auth.json
# /.fleet
# /.idea
# /.nova
# /.vscode
# /.zed

.env
/database
/public/hot
/public/storage
/node_modules
/storage
/vendor

